<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button  (click)="findUsers()" color="secondary">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-card>
            <img src="../../assets/amsterdam.jpg"/>
            <ion-fab right bottom>
                <button ion-fab>
                <ion-icon name="brush"></ion-icon>
              </button>
              </ion-fab>
              <div class="card-title">Amsterdam</div>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

 
    <ion-card  *ngFor="let sheduleEvent of eventSheduleDetails">
      <ion-card-header>
        <ion-card-title>{{sheduleEvent.eventName}}</ion-card-title>
      </ion-card-header>
          <ion-card-content (click)="getDetailsEvent(sheduleEvent.eventId)">
            <ion-card-subtitle>Faltan solo:{{startCountDownDate(sheduleEvent.eventDate)}} para el evento!</ion-card-subtitle>
            <ion-card-subtitle>{{sheduleEvent.eventDesc}} + {{sheduleEvent.eventDate}}</ion-card-subtitle>
            <img src={{sheduleEvent.eventUrlPhoto}}/>
           {{sheduleEvent.userLastName}}
          </ion-card-content>
  
    </ion-card>
  
    

  

</ion-content>
