<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedule Events</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="findUsers()" class="color-find">
        <p>Find</p>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-card  *ngFor="let sheduleEvent of eventSheduleDetails">
            <ion-item>
              <ion-avatar slot="start" style="width: 72px;height: 72px;">
                <img [src]="sheduleEvent.eventUrlPhoto">
              </ion-avatar>
              <ion-label>
                <h2 class="p3">{{sheduleEvent.eventName}}</h2>
                <p class="p4" >Date : {{sheduleEvent.eventDate}}</p>
               
                <p class="p4">{{sheduleEvent.eventDesc}}</p>
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col></ion-col>
              <ion-col> </ion-col>
              <ion-col>
                <p class="p2" >{{startCountDownDate(sheduleEvent.eventDate)}}</p>
              </ion-col>
            </ion-row>
           
    </ion-card>
</ion-content>
